/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;